

div.App {
  min-height: 100vh;
  padding-bottom: 56px;
  box-sizing: border-box;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

g.rv-xy-plot__series.rv-xy-plot__series--label.undefined > text {
  font-size: 1em;
}

svg {
  padding-left: 5%;
  margin-bottom: 20%;
}
